/* Font Link Added Form Google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Added Font Name Form Google */
body {
  font-family: "Work Sans", sans-serif;
}
.hide{
    display: none;
}
/* Default Button Add */

.btn-primary {
  background-color: #f948b2;
  color: #ffffff;
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.secondary-primary {
    background: #4ec5f7;
    color: #ffffff;
    border: none;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin: 40px 0px 0px 20px;
}
/* ------- Header Section Styles Here ------- */
.main-container {
  max-width: 1400px;
  margin: 0 auto;
}
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
}
.logo-part {
  display: flex;
  align-items: center;
}
.logo-part img {
  width: 90px;
  height: 40px;
  margin-right: 20px;
}
span.span-color {
  color: #ff42a5;
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
}

nav.menu-list {
  display: flex;
}
.header-icon {
  display: flex;
  background-color: #e7e6e9;
  padding: 10px 21px 10px 0px;
  border-radius: 10px;
  margin-left: 20px;
}
.header-icon .youtube {
  color: #f61c0d;
}
.header-icon .tiktok {
  color: #3c354f;
}

.nav-menu {
  display: flex;
  align-items: center;
}
nav.menu-list li,
.header-icon li {
  list-style: none;
}
nav.menu-list a,
.header-icon a {
  display: block;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
/* ------- Header Section Styles End ------- */
/* ------- Banner Section Styles Here ------- */
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1400px;
   
}
/* .banner-content {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
} */

.banner-title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-subtitle {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
}
.banner-list {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.banner-info {
  color: #534c64;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}
.banner-list .right-icon {
  border: 1px solid #0b0223;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f948b2;
  margin-right: 15px;
  font-size: 16px;
}
.banner-list .right-arrow {
  color: #f948b2;
  margin-right: 15px;
  font-size: 16px;
}
.banner-list .right-user {
  color: #0b0223;
  margin-right: 15px;
  font-size: 16px;
}

.banner-img img {
  width: 700px;
  height: auto;
}

/* ------- Banner Section Styles End ------- */
